{% extends 'base.html' %}
{% load blog_extras %}
{% block content %}
    <h2>Your Feed</h2>
    <div class="grid-container">
        {% for instance in blogs_and_photos %}
            {% if instance|model_type == 'Blog' %}
                <div class="post">
                    <a href="{% url 'view_blog' instance.id %}">
                        <h4>Billet : {{ instance.title }}</h4>
                        <img src="{{ instance.photo.image.url }}">
                        <p><strong>Written by {{ instance.contributors.all|join:", " }}</strong></p>
                        <p>{{ instance.date_created }}</p>
                    </a>
                </div>
            {% elif instance|model_type == 'Photo' %}
                <div class="post">
                    <img src="{{ instance.image.url }}">
                    <p>{{ instance.caption }}</p>
                    <p><strong>Taken by {{ instance.uploader }}</strong></p>
                    <p>{{ instance.date_created }}</p>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock content %}