{% load static %}
<html>
    <head>
        <title>FotoBlog</title>
        <link rel="stylesheet" href="{% static 'app.css' %}">
    </head>
    <body>
        <div class="sidebar">
            <h1>FotoBlog</h1>
            {% if user.is_authenticated %}
                <p>Salut, {{ user }} !</p>
                <img class="avatar" src="{% static 'images/default_profile.png'%}">
                <p><a href="{% url 'home' %}">Accueil</a></p>
                <p><a href="{% url 'photo_upload' %}">Téléverser une photo</a></p>
                <p><a href="">Changer la photo de profil</a></p>
                <p><a href="{% url 'password_change' %}">Changer le mot de passe</a></p>
                <p><a href="{% url 'logout' %}">Se déconnecter</a></p>
            {% endif %}
        </div>
        <div class="main">
            {% block content %}{% endblock content %}
        </div>
    </body>
</html>
